@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    This is application is currently under development. To check out the features under development, go to  <a href="/bills/create" title="Create">create bill</a>, or <a href="/bills/" title="Browse">view bills</a>
</p>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

